body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #313d5a;
    color: white;
}

.exercicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}